/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./raleway-v17-latin-800.woff2') format('woff2'),
       url('./raleway-v17-latin-800.woff') format('woff');
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./roboto-v20-latin-300.woff2') format('woff2'),
       url('./roboto-v20-latin-300.woff') format('woff');
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./roboto-v20-latin-700.woff2') format('woff2'),
       url('./roboto-v20-latin-700.woff') format('woff');
}
