@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
  min-height: 100vh;
}

input:not(:placeholder-shown) + .input-box-container > .input-box-label,
input:focus + .input-box-container > .input-box-label,
input:not(:placeholder-shown) + .input-box-container > .input-box-label-placeholder,
input:focus + .input-box-container > .input-box-label-placeholder {
  transform: translate(-0.75rem, calc(-0.625rem - 24px - 8px));
  opacity: 1;
  color: rgb(107 114 128);
}


input:not(:placeholder-shown) + .input-box-container > .input-box-placeholder,
input:focus + .input-box-container > .input-box-placeholder {
  transform: translate(-0.75rem, calc(-0.625rem - 24px - 8px));
  opacity: 0;
}

.input-box-label, .input-box-placeholder, .input-box-label-placeholder {
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transition-property: opacity, transform;
}

.input-box-label-placeholder {
  opacity: 0;
}